# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
env/
.venv-test/
venv/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs and OS junk
.DS_Store
.vscode/
.idea/
